@use 'components/buttons';
@use 'components/form';
@use 'components/teaser';
@use 'components/product_slider';
@use 'components/img_text';

@use 'globals/typo';
@use 'globals/colors' as c;

@use 'globals/fonts';
@use 'globals/sitefooter';
@use 'globals/siteheader';
@use 'globals/textstyles';


html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

.sitecontent {
    background-color: c.$bright;
    margin-bottom: var(--SiteFooterHeight);
}

::selection {
    color: c.$bright;
    background: #575757;
}