@use '../globals/colors' as c;
@use '../abstracts/breakpoints' as *;


.button {
    &.circle {
        display: block;
        padding: 12px;
        border-radius: 50%;
        background-color: c.$bright;
        box-shadow: c.$shadow;
        cursor: pointer;
        .btn_inner {
            width: 26px;
            height: 26px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        span {
            display: block;
            background-color: c.$dark;
            height: 4px;
            width: 26px;
            border-radius: 2px;
            &:last-of-type {
                margin-top: 6px;
            }
        }
        img {
            display: block;
            width: 26px;
            height: 26px;
        }
        &.back {
            img {
                transform: scaleX(-1);
            }
        }
    }
    &.text {
        border: c.$border2px;
        color: c.$bright;
        padding: 0 22px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        position: relative;
        cursor: pointer;
        transition: color .3s cubic-bezier(.165,.84,.44,1);
            &::after {
            content: '';
            position: absolute;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            z-index: -1;
            background-color: c.$dark;
            transform: scaleX(1);
            transform-origin: left;
            transition: transform .5s cubic-bezier(.165,.84,.44,1);
        }
        &:hover {
            color: c.$dark;
            &::after {
                transform: scaleX(0);
            }
        }
        &.border {
            color: c.$dark;
        }
    }
}

// SPLIDE
.splide__arrow {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: c.$bright;
    margin-right: 8px;
    background-image: url('../img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: 26px;
    cursor: pointer;
    transition: opacity .3s ease-out;
    &--prev {
        transform: scaleX(-1);
    }
    svg {
        display: none;
    }
    &[disabled] {
        opacity: .6;
    }
    
    @include mq(1100px) {
        transform: rotate(90deg);
        &--prev {
            transform: rotate(-90deg);
        }
    }
}