/* ====== */
/* FOOTER */
/* ====== */

.cutter,
.sitecontent {
  background-color: #fff;
  position: relative;
}

body.footer_scroll

body.product.footer_scroll .cutter,
body.home.footer_scroll .sitecontent {
  margin-bottom: 0;
}

body.product.footer_scroll .cutter {
  margin-bottom: 0;
}

.toggler {
  margin-top: calc(var(--header_height) * -1) ;
  padding-top: var(--header_height);
  margin-bottom: var(--footer_height);
}


body.overview section.sitecontent {
  padding-bottom: 80px;
}


footer.sitefooter {
  background-color: #171717;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  padding: 60px;
  padding-bottom: 92px;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

body.footer_scroll footer.sitefooter {
  position: static;
}

/* rounded Logo */
footer.sitefooter section.container {
  position: relative;
  width: 100%;
  max-width: 1258px;
  margin: 0 auto;
}

a.rounded_logo {
  overflow: hidden;
  width: 176px;
  height: 176px;
  position: absolute;
  right: 30px;
  bottom: -46px;
  z-index: 9;
  background-color: #fff;
  border-radius: 50%;
}

a.rounded_logo:after {
  display: none;
}

a.rounded_logo img.font {
  width: calc(100% - 16px);
  padding: 8px;
  animation: circle 100s linear infinite;
}

a.rounded_logo img.ghost {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: auto;
}

/* ------ */

footer.sitefooter h5 {
  font-family: 'Poppins', sans-serif;  
  font-size: 34px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}

footer.sitefooter h5 span {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}

footer.sitefooter p,
footer.sitefooter a {
  color: #fff;
  font-size: 18px;
}

footer.sitefooter nav.links {
  padding-top: 32px;
  margin-left: 80px;
}

footer.sitefooter nav.links h6 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 18px;
}

footer.sitefooter nav.links a {
  line-height: 28px;
}

footer.sitefooter nav.links:first-of-type {
  margin-left: 30%;
}

/* Hover animation */

footer.sitefooter a {
  position: relative;
      transition: all .6s cubic-bezier(.165,.84,.44,1);
}

footer.sitefooter a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: calc(108% - 1px);
  left: 0;
  background-color: #fff;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  transition: transform .4s cubic-bezier(.165,.84,.44,1),-webkit-transform .4s cubic-bezier(.165,.84,.44,1);
}

footer.sitefooter a:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}


/* ------ */


/* RESPONSIVE */



@media screen and (max-height: var(--footer_height)) {

  footer.sitefooter {
    background: red;
  }

}

@media screen and (max-width: 1000px) {

  footer.sitefooter {
    margin-top: 100px;
  }

  footer.sitefooter nav.links {
    margin-left: 50px;
  }

  footer.sitefooter nav.links:first-of-type {
    margin-left: auto;
  }

}

@media screen and (max-width: 740px) {

  body.product .cutter, 
  body.home .sitecontent {
    margin-bottom: var(--content_height);
  }

  footer.sitefooter {
    top: var(--header_height);
    margin-top: 0;
  }

  footer.sitefooter section.container {
    display: block;
  }

  footer.sitefooter nav.links {
    margin-left: 0;
  }

  body.footer_scroll .logo_scroll {
    position: relative;
  }

  body.footer_scroll a.rounded_logo {
    top: calc((var(--header_height) - 46px) * -1);
    bottom: inherit;
  }

}


@media screen and (max-width: 580px) {

  a.rounded_logo {
    width: 140px;
    height: 140px;
  }

  a.rounded_logo img.ghost {
    width: 72px;
  }
  product
  section.cutter {
    overflow-x: hidden;
  }

  a.rounded_logo {
    right: 0;
  }

}

@media screen and (max-width: 360px) {

  footer.sitefooter {
    margin-top: 100px;
  }

}