/* ======= */
/* PRODUCT */
/* ======= */

.product .product_preview_slide {
  position: relative;
  height: calc(100vh - var(--header_height));
  max-width: calc((100vh - var(--header_height)) * .8);
}

.product .product_preview_slide .splide__slide {
  /* max-width: 70%; */
  height: calc(100vh - 130px);
}

.product .product_preview_slide .splide__slide img {
  height: calc(100vh - var(--header_height));
  width: calc((100vh - var(--header_height)) * .8);
}

.product_preview_progress_bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}
