/* ======= */
/* PRODUCT */
/* ======= */

.product .preview_slide {
  position: relative;
}

.product .preview_slide a.mag {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 0;
  height: 0;
  background-color: #fff;
  opacity: 0;
  transition: all .3s ease-out;
}

.product .preview_slide:hover a.mag {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background-image: url('../../images/icons/fullsize.svg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .7;
}

@media screen and (max-width: 1020px) {

  .product .preview_slide a.mag,
  .product .preview_slide:hover a.mag {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: inherit;
  }

}



