@use 'colors' as c;

$hover-transition: cubic-bezier(.165,.84,.44,1);

.sitewrapper {
    padding: 30px;
}

#skip {
    margin-top: calc(var(--SiteHeaderHeight) * -1);
    padding-top: var(--SiteHeaderHeight);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 4px;
    transition: background-color .2s ease-out;
}
::-webkit-scrollbar-thumb:hover {
    background-color: c.$bright;
}