@use 'colors' as c;

$base-font : 'Roboto', sans-serif;
$link-font : 'Josefin Sans', sans-serif;


// resize the headlines
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    font-family: $base-font;
    color: c.$dark;
    line-height: 1.5;
}

// headline
h1,
h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.09;
    padding-bottom: 20px;
}

// subheadline
h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    line-height: 1.15;
    padding: 40px 0 30px;
    & a {
        font-family: $base-font;
        font-size: 26px;
        color: c.$dark;
        text-transform: uppercase;
    }
}

// remove the added paddings in special cases
.siteheader,
.product {
    h1,h2,h3 {
        padding: 0;
    }
}
.ProductContent {
    h3 {
        padding-bottom: 40px;
    }
}

// running text
p,  
p a,
li,
label.radio,
select,
input[type="text"] {
    font-family: $base-font;
    font-size: 20px;
}
p a {
    text-decoration: underline;
}

// link style
a,
button.button {
    font-family: $link-font;
    font-size: 22px;
    text-decoration: none;
    color: c.$dark;
    line-height: 1.1;
}
.button.rounded {
    font-family: $base-font;
}

// banner style
.banner {
    color: c.$bright;
    font-size: 14px;
    letter-spacing: .31px;
}

.sitenav {
    >ul a {
        text-transform: uppercase;
        line-height: 1;
        font-weight: 600;
    }
    p a {
        text-decoration: none;
    }
}

// small text
.sitenav .LegalNav a,
.AdditionalContentBox li,
.AdditionalContentBox span,
.shipping > span,
.price > span {
    font-family: $base-font;
    font-size: 14px;
}

// footer stuff
.sitefooter {
    color: c.$bright;
    a, p {
        font-family: $base-font;
        color: c.$bright;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none;
    }
}
.corporate {
    h3 {
        text-transform: uppercase;
        letter-spacing: 1.4px;
    }
}