@use 'colors' as c;
@use 'settings' as s;
@use '../abstracts/breakpoints' as *;

.sitefooter {
    background-color: c.$dark;
    padding: 60px 0 60px 30px;
    position: fixed;
    top: var(--SmallHeaderHeight);
    z-index: -1;
    width: 100%;
    box-sizing: border-box;
    .corporate {
        p {
            margin-top: 25px;
        }
    }
    .sitemap {
        margin-top: 60px;
        h3 {
            padding-bottom: 30px;
        }
    }
    li {
        list-style-type: none;
    }
    a {
        position: relative;
        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 0;
            position: absolute;
            bottom: 0;
            background-color: c.$bright;
            transition: width .3s s.$hover-transition;
        }
        &:hover:after {
            width: 100%;
        }
    }
    @include mq(1100px) {
        display: flex;
        padding: 60px;
        position: fixed;
        top: inherit;
        bottom: 0;
        z-index: -1;
        .sitemap {
            margin: 0;
            margin-left: auto;
            padding-top: 46px;
            &:last-of-type {
                margin-left: 60px;
            }

        }
    }

}

body.footer {
    .sitefooter {
        position: static;
    }
    .sitecontent {
        margin-bottom: 0;
    }
}