@use '../globals/colors' as c;
@use '../abstracts/breakpoints' as *;
@use '../../../node_modules/@splidejs/splide/dist/css/splide-core.min.css';
@use '../../../node_modules/@fancyapps/ui/src/Fancybox/Fancybox.scss';

body.product {
    .ProductPreviewSplide {
        position: relative;
        z-index: 0;
        ul {
            padding: 0;
            margin: 0;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        .splide__arrows {
            position: absolute;
            left:20px;
            bottom: 20px;
            // top: calc(100% - 20px);
            z-index: 1;
        }
    }

    .ProcuctContent {
        padding: 30px 30px;
        h3 {
            padding-bottom: 40px;
        }
        .AdditionalContentBox {
            margin: 40px 0;
            ul,
            .shipping {
                padding: 18px 24px;
            }
            border: c.$border2px;
            li{
                list-style-type: none;
                padding-bottom: 10px;
                strong {
                    padding-right: 42px;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 16px;
                        background-color: c.$dark;
                        position: absolute;
                        right: 4px;
                        top: 50%;
                        transform: translateX(-50%);
                    }
                }
                &:last-of-type {
                    padding: 0;
                }
            }
            hr {
                margin: 0;
                border: none;
                border-top: c.$border2px;
            }
        }
        .shipping {
            display: flex;
            align-items: center;
            img {
                animation: shake-jump 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            }
            span {
                display: inline-block;
                max-width: 120px;
                margin-left: 24px;
            }
        }
        .price {
            display: flex;
            margin-bottom: 40px;
            span {
                margin-left: 20px;
                max-width: 100px;
            }
        }
        #SizePreSelect {
            width: 100%;
             margin-bottom: 20px;
        }
        .button.text {
            width: 100%;
            box-sizing: border-box;
        }
    }

    // PayPal Cart
    .AddToCart {
        position: fixed;
        transform: translateX(100%);
        transition: transform .4s ease-out;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background: c.$bright;
        z-index: 2;
        .cartheader {
            width: 100%;
            background-color: c.$dark;
            height: 60px;
            position: relative;
            .button.circle {
                position: absolute;
                bottom: 0;
                left: 20px;
                transform: translateY(50%);
            }
        }
    }
    &.cart {
        overflow: hidden;
        .AddToCart {
            transform: translateX(0);
        }
    }
    
}

@keyframes shake-jump {
    20% {transform: translateY(0);}
    24% {transform: translateY(-4px);}
    28% {transform: translateY(0);}
    32% {transform: translateY(-6px);}
    36% {transform: translateY(0);}
}