/* GENERAL STYLING */

html,button,input,select,textarea{font-family:'Roboto',sans-serif;color: #000;}

a,a:link,a:visited{color:#000;text-decoration: none;}
a:hover{color:#000;}
ul{padding: 0;}
li{list-style:none;}

img{width: 100%;display: block;}

html{line-height:1.3333;}

/*==================== LAYOUT ====================*/


/*============ General Styling ============*/

.flex {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_space_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex_align_start {
  align-items: flex-start;
}

.grid {
  display: grid;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.wrapper {
  max-width: 1258px;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0 auto;
}

section.sitecontent {
  margin-top: 130px;
}

.transition {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrapper_slider {
  max-width: 1288px;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0 auto;
}

.space_top {
  margin-top: 60px;
}

.doku p {
  padding-top: 20px;
}

.doku {
  margin: 0 auto;
  width: 60%;
}

.doku img {
  display: block;
  margin-top: 20px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.doku .description {
  display: block;
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: right;
}

.doku span {
  font-family: 'Roboto Mono', monospace;
}


.about p {
  margin: 20px 0;
}

.siteheading {
  margin-bottom: 40px;
}

/*============ font-styling ============*/

.logo {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

h1,h2 {
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 40px;
}

.siteheading {
  font-size: 42px;
  text-transform: uppercase;
  padding-top: 40px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

h2 + p {
  padding-top: 20px;
}

@media screen and (max-width: 960px) {

  .doku {
    margin: 0 auto;
    width: 100%;
  }

}



/*============ header ============*/

.logo {
  display: inline-block;
}

.siteheader {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 42px;
  height: 88px;
  background-color: #fff;
  z-index: 10;
}

.siteheader .wrapper.flex {
  align-items: center;
}

.siteheader nav.menu a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 12px;
}

.hamburger {
  display: none;
}




/*============ hamburger menu ============*/

@media screen and (max-width: 1020px) {

  .hamburger {
    padding: 10px;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    height: 4px;
    width: 38px;
    margin-bottom: 6px;
    background-color: #000;
    transition: all ease .2s;
  }

  .hamburger span:last-of-type {
    margin-bottom: 0;
  }

  .hamburger.canvas {
    padding: 16px 10px;
  }

  .hamburger.canvas span{
    margin: 0;
  }

  .hamburger.canvas span:nth-of-type(1) {
    transform: translateY(4px) rotate(135deg);
  }

  .hamburger.canvas span:nth-of-type(2) {
    opacity: 0;
  }

  .hamburger.canvas span:nth-of-type(3) {
    transform: translateY(-4px) rotate(-135deg);
  }

  .menu {
    width: 300px;
    height: 100vh;
    position: absolute;
    right: -300px;
    top: 0;
    background-color: #F7F7F7;
  }

  .siteheader nav.menu a {
    display: block;
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .siteheader.canvas {
    transform: translateX(-300px);
  }

  .sitefooter.canvas {
    transform: translateX(-300px);
  }

  section.sitecontent.canvas {
    transform: translateX(-300px);
  }

  header.siteheader {
    height: 90px;
    padding: 0;
  }

  section.sitecontent {
    margin-top: 90px;
  }


  header.siteheader,
  nav.menu,
  section.sitecontent {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

}

@media screen and (max-width: 440px) {

  header.siteheader a.logo {
    font-size: 28px;
  }

}

@media screen and (max-width: 360px) {

  header.siteheader a.logo {
    font-size: 24px;
  }

}



/*============ teaser ============*/

.wrapper_teaser {
  position: relative;  
}

.bighead {
  width: 140px;
  height: auto;
  position: absolute;
  right: 60px;
  bottom: 60px;
  z-index: 1;
}

.teaser button {
  display: none !important;
}

@media screen and (max-width: 1020px) {

  .bighead {
    width: 100px;
    right: 40px;
    bottom: 40px;
  }


}


/*============ product teaser ============*/

.products {
  width: 100%;
}

.product {
  margin: 15px;
}

.product h3 {
  font-size: 24px;
  padding-top: 10px;
}

.product h3 {
  font-size: 20px;
  padding-top: 4px;
}

/* ========== button ========== */

a.button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding: 8px 24px;
  border: 1px solid #000;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all .6s cubic-bezier(.165,.84,.44,1);
}


a.button:hover {
  color: #fff;
}

a.button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s cubic-bezier(.165,.84,.44,1),-webkit-transform .4s cubic-bezier(.165,.84,.44,1),-o-transform .4s cubic-bezier(.165,.84,.44,1);
}

a.button:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}


/*============ shop page ============*/

.shop .product {
  width: calc((100% - 120px) / 4);
  margin: 20px;
}

.shop .product:nth-of-type(4n) {
  margin-right: 0;
}

.shop .product:nth-of-type(1),
.shop .product:nth-of-type(4n+1) {
  margin-left: 0;
}

.gallery {
  grid-template-columns: 6fr 4fr 6fr;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 30px;
}


@media screen and (max-width: 960px) {

  .shop .product {
    width: calc((100% - 80px) / 3);
    margin: 20px;
  }

  .shop .product:nth-of-type(4n) {
    margin-right: 20px;
  }

  /* set all margins again */

  .shop .product:nth-of-type(1),
  .shop .product:nth-of-type(4n+1) {
    margin-left: 20px;
  }

  /* remove all side margins */


  .shop .product:nth-of-type(3n) {
    margin-right: 0;
  }

  .shop .product:nth-of-type(1),
  .shop .product:nth-of-type(3n+1) {
    margin-left: 0;
  }

}


@media screen and (max-width: 700px) {

  .shop .product {
    width: calc((100% - 28px) / 2);
    margin: 14px;
  }

  .shop .product:nth-of-type(4n) {
    margin-right: 14px;
  }

  /* we need this rules to minimize all 
  margins from 20px to 14px */

  .shop .product:nth-of-type(1),
  .shop .product:nth-of-type(4n+1) {
    margin-left: 14px;
  }

  .shop .product:nth-of-type(3n) {
    margin-right: 14px;
  }

  .shop .product:nth-of-type(1),
  .shop .product:nth-of-type(3n+1) {
    margin-left: 14px;
  }

  /* remove all side margins */

  .shop .product:nth-of-type(2n) {
    margin-right: 0;
  }

  .shop .product:nth-of-type(1),
  .shop .product:nth-of-type(2n+1) {
    margin-left: 0;
  }


}

@media screen and (max-width: 380px) {

  .shop .product {
    width: 100%;
    margin: 0;
  }

  /* remove all margins */

  .shop .product:nth-of-type(4n) {
    margin-right: 14px;
  }

  .shop .product:nth-of-type(1),
  .shop .product:nth-of-type(4n+1) {
    margin-left: 0;
  }

  .shop .product:nth-of-type(3n) {
    margin-right: 0;
  }

  .shop .product:nth-of-type(1),
  .shop .product:nth-of-type(3n+1) {
    margin-left: 0;
  }


  .shop .product:nth-of-type(2n) {
    margin-right: 0;
  }

  .shop .product:nth-of-type(1),
  .shop .product:nth-of-type(2n+1) {
    margin-left: 0;
  }

  .shop .product:nth-of-type(1) {
    margin-top: 14px;
  }


}



/*============ gallery page ============*/

.gallery_item {
  background-size: cover;
  padding-top: 80%;
  display: block;
}

.item_1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.item_2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.item_3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.item_4 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

@media screen and (max-width: 760px) {

  .gallery {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
  }

}

.contact {
  width: 100%;
  max-width: 614px;
  margin: 0 auto;
  margin-top: 40px;
}

select.contact_field {
  margin-right: 50%;
  background-image: url(../images/dropdown.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

.contact_field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #000;
  width: 47%;
  height: 60px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 20px;
}

label a,
label a:link,
label a:visited {
  text-decoration: underline;
}

#datenschutz {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  border-radius: 0;
  width: 16px;
  height: 16px;
  margin-top: 22px;
}

#datenschutz[type="checkbox"]:checked {
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.datenschutz {
  margin-top: 20px;
  margin-left: 16px;
  margin-right: auto;
}

.submit {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  background-color: #000;
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}



.contact textarea {
  border: 2px solid #000;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 20px;
  resize: none;
}

/* ============ */
/* PRODUCT PAGE */
/* ============ */


/* ===== preview section ===== */

div.preview {
  width: 40%;
  max-width: 614px;
}

div.preview img {
  width: 100%;
}

/* ===== content section ===== */

article.product_content {
  margin-left: 30px;
  width: 44%;  
}

article.product_content h1 {
  padding-top: 0;
  padding-bottom: 30px;
  text-transform: none;
  font-size: 42px;
  font-weight: 700;
}

article.product_content > p {
  padding-bottom: 3.75rem;
}

article.product_content h6 {
  font-size: 1.375rem;
  font-weight: 400;
  padding-bottom: 0.875rem;
}

article.product_content p span {
  font-size: 1.75rem;
  font-weight: 500;
  margin-right: 1.25rem;
}

div.price_shipping {
  align-items: center;
}

div.price_shipping h2 {
  padding: 0;
  font-size: 2.625rem;
  font-weight: 700;
}

div.price_shipping a.shipping {
  margin-left: 2.5rem;
  width: fit-content;
  cursor: help;
}

div.price_shipping a.shipping img {
  max-width: 2.5rem;
  margin-right: 10px;
  animation: shake-jump 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

div.price_shipping a.shipping p {
  font-size: 1rem;
  max-width: 8.75rem;
  line-height: 1.3;
}

article.product_content a.button {
  margin: 0;
  margin-top: 40px;
  font-size: 22px;
  padding: 10px 40px;
}


@media screen and (max-width: 980px) {

  div.price_shipping {
    display: block;
  }

  div.price_shipping a.shipping {
    margin: 0;
    margin-top: 20px;
  }

}

@media screen and (max-width: 860px) {

  section.sitecontent.flex {
    display: block;
  }

  div.preview {
    width: 100%;
    margin-bottom: 60px;
  }

  div.preview {
    max-width: inherit;
  }

  article.product_content {
    width: 100%;
    margin-left: 0;
  }

  article.product_content h6,
  article.product_content > p:nth-of-type(2),
  div.price_shipping {
    text-align: center;
  }

  article.product_content a.button,
  div.price_shipping a.shipping {
    margin: 0 auto;
  }

  article.product_content a.button {
    margin-top: 40px;    
  }

  div.price_shipping a.shipping {
    margin-top: 12px;
  }

}

/* ===== */
/* POPUP */
/* ===== */

article.popup {
  padding: 40px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  z-index: 100;
  box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.2);
  width: 80%;
  max-width: 560px;
  box-sizing: border-box;
  max-height: calc(100vh - 30%);
}

body.popup_active:before {
  content: '';
  position: fixed;
  display: block;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0,0,0,0.6);
}


article.popup a.close {
  position: absolute;
  right: -19px;
  top: -19px;
  background-color: #000;
  border-radius: 19px;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.2);
}

article.popup a.close:hover {  
  animation: shake-side 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


article.popup a.close img {
  height: 26px;
  width: 26px;
}

article.popup h2 {
  padding: 0;
}

/* ======= */
/* IMPRINT */
/* ======= */

article.imprint h2 {
  font-size: 24px;
}

article.imprint h3 {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

article.imprint h3 +p {
  padding-top: 10px;
}



/*============ footer ============*/

footer.sitefooter {
  text-align: center;
  padding: 40px 0;
  background-color: #eee;
  z-index: -2;
}

footer.sitefooter a.links {
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

footer.sitefooter img {
  margin-right: 8px;
  width: auto;
  height: 24px;
}


footer.sitefooter a.links:hover img {
  animation: shake-side 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

footer.sitefooter p.location {
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  width: fit-content;
  align-items: center;
}

footer.sitefooter p.location:hover img {
  animation: shake-jump 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;  
}




/*
 * ----------------------------------------
 *  shake animations
 * ----------------------------------------
 */

@keyframes shake-side {
  0%,25% {-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;}
  2.5% {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
  5%,10%,15% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  7.5%,12.5%,17.5% {-webkit-transform: rotate(3deg);transform: rotate(3deg);}
  20% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  22.5% {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
}

@keyframes shake-jump {
    0% {transform: translateY(0);}
    4% {transform: translateY(-0.625rem);}
    8% {transform: translateY(0);}
    12% {transform: translateY(-0.875rem);}
    16% {transform: translateY(0);}
}


@keyframes shake-jump {
    20% {transform: translateY(0);}
    24% {transform: translateY(-0.625rem);}
    28% {transform: translateY(0);}
    32% {transform: translateY(-0.875rem);}
    36% {transform: translateY(0);}
}

