/* GENERAL STYLING */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,button,input,select,textarea{font-family:'Roboto',sans-serif;color: #000;}

a,a:link,a:visited{color:#000;text-decoration: none;}
a:hover{color:#000;}
ul{padding: 0;}
li{list-style:none;}

img{width: 100%;display: block;}
in den Troc
In den Troc
html{line-height:1.3333;}

/* ================================== */
/* GENERAL STYLING / UTLILITY CLASSES */
/* ================================== */

.flex {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_space_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex_align_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.wrapper {
  max-width: 1258px;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0 auto;
}

section.sitecontent {
  margin-top: 130px;
}

.transition {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrapper_slider {
  max-width: 1288px;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0 auto;
}

.space_top {
  margin-top: 60px;
}

/* ===button === */

a.button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding: 8px 24px;
  border: 2px solid #000;
  border-radius: 30px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .6s cubic-bezier(.165,.84,.44,1);
  -o-transition: all .6s cubic-bezier(.165,.84,.44,1);
  transition: all .6s cubic-bezier(.165,.84,.44,1);
}


a.button:hover {
  color: #fff;
}

a.button:after {
  content: '';
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  z-index: -1;
  background-color: #000;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  transition: transform .4s cubic-bezier(.165,.84,.44,1),-webkit-transform .4s cubic-bezier(.165,.84,.44,1);
}

a.button:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

/* ============ */
/* FONT-STYLING */
/* ============ */

.logo {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

h1,h2 {
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 40px;
}

.siteheading {
  font-size: 42px;
  text-transform: uppercase;
  padding-top: 40px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

h1 + p,
h2 + p {
  padding-top: 20px;
}

@media screen and (max-width: 960px) {

  .doku {
    margin: 0 auto;
    width: 100%;
  }

}


/*======= */
/* HEADER */
/*======= */

.logo {
  display: inline-block;
}

.siteheader {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 42px;
  height: 88px;
  background-color: #fff;
  z-index: 10;
}

.siteheader .wrapper.flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siteheader nav.menu a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 12px;
}

.hamburger {
  display: none;
}


/*=============== */
/* HAMBURGER MENU */
/*=============== */

@media screen and (max-width: 1020px) {

  .hamburger {
    padding: 10px;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    height: 4px;
    width: 38px;
    margin-bottom: 6px;
    background-color: #000;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
  }

  .hamburger span:last-of-type {
    margin-bottom: 0;
  }

  .hamburger.canvas {
    padding: 16px 10px;
  }

  .hamburger.canvas span{
    margin: 0;
  }

  .hamburger.canvas span:nth-of-type(1) {
    -webkit-transform: translateY(4px) rotate(135deg);
        -ms-transform: translateY(4px) rotate(135deg);
            transform: translateY(4px) rotate(135deg);
  }

  .hamburger.canvas span:nth-of-type(2) {
    opacity: 0;
  }

  .hamburger.canvas span:nth-of-type(3) {
    -webkit-transform: translateY(-4px) rotate(-135deg);
        -ms-transform: translateY(-4px) rotate(-135deg);
            transform: translateY(-4px) rotate(-135deg);
  }

  .menu {
    width: 300px;
    height: 100vh;
    position: absolute;
    right: -300px;
    top: 0;
    background-color: #F7F7F7;
  }

  .siteheader nav.menu a {
    display: block;
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .siteheader.canvas {
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  .sitefooter.canvas {
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  section.sitecontent.canvas {
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  body.canvas {
    overflow: hidden;
  }

  header.siteheader {
    height: 90px;
    padding: 0;
  }

  section.sitecontent {
    margin-top: 90px;
  }


  header.siteheader,
  nav.menu,
  section.sitecontent,
  footer.sitefooter {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

}

@media screen and (max-width: 440px) {

  header.siteheader a.logo {
    font-size: 28px;
  }

}

@media screen and (max-width: 360px) {

  header.siteheader a.logo {
    font-size: 24px;
  }

}



/* ==== */
/* HOME */
/* ==== */

/* Teaser */

.wrapper_teaser {
  position: relative;  
}

.bighead {
  width: 140px;
  height: auto;
  position: absolute;
  right: 60px;
  bottom: 60px;
  z-index: 1;
}

.teaser button {
  display: none !important;
}

.teaser .slide_item img.desktop,
.teaser .slide_item img.mobile,
.teaser .slide_item img.tablet {
  display: none;
}


@media screen and (max-width: 2000px) {


  .teaser .slide_item img.desktop {
    display: block;
  }

  .teaser .slide_item img.big {
    display: none;
  }

}

@media screen and (max-width: 1080px) {

  .bighead {
    width: 100px;
    right: 40px;
    bottom: 40px;
  }

  .teaser .slide_item img.tablet {
    display: block;
  }

  .teaser .slide_item img.desktop {
    display: none;
  }

}

@media screen and (max-width: 500px) {

  .bighead {
    width: 100px;
    right: 40px;
    bottom: 40px;
  }
  .teaser .slide_item img.mobile {
    display: block;
  }

  .teaser .slide_item img.tablet {
    display: none;
  }

}

/* Product Teaser */

.products {
  width: 100%;
}

.product {
  margin: 15px;
}

.product img {
  -webkit-transition: opacity ease-out .2s;
  -o-transition: opacity ease-out .2s;
  transition: opacity ease-out .2s
}

.product:hover img {
  opacity: .8;
}

.product h3 {
  font-size: 24px;
  padding-top: 10px;
}

.product h3 {
  font-size: 20px;
  padding-top: 4px;
}


/* ========= */
/* SHOP PAGE */
/* ========= */

div.shop a.product {
  width: calc((100% - 120px) / 4);
  margin: 20px;
}

div.shop a.product img {
  -webkit-transition: opacity ease-out .2s;
  -o-transition: opacity ease-out .2s;
  transition: opacity ease-out .2s;
}

div.shop a.product:hover img {
  opacity: .8;
}


div.shop a.product:nth-of-type(4n) {
  margin-right: 0;
}

div.shop a.product:nth-of-type(1),
div.shop a.product:nth-of-type(4n+1) {
  margin-left: 0;
}

@media screen and (max-width: 960px) {

  div.shop a.product {
    width: calc((100% - 80px) / 3);
    margin: 20px;
  }

  div.shop a.product:nth-of-type(4n) {
    margin-right: 20px;
  }

  /* set all margins again */

  div.shop a.product:nth-of-type(1),
  div.shop a.product:nth-of-type(4n+1) {
    margin-left: 20px;
  }

  /* remove all side margins */

  div.shop a.product:nth-of-type(3n) {
    margin-right: 0;
  }

  div.shop a.product:nth-of-type(1),
  div.shop a.product:nth-of-type(3n+1) {
    margin-left: 0;
  }

}


@media screen and (max-width: 700px) {

  div.shop a.product {
    width: calc((100% - 28px) / 2);
    margin: 14px;
  }

  div.shop a.product:nth-of-type(4n) {
    margin-right: 14px;
  }

  /* we need this rules to minimize all 
  margins from 20px to 14px */

  div.shop a.product:nth-of-type(1),
  div.shop a.product:nth-of-type(4n+1) {
    margin-left: 14px;
  }

  div.shop a.product:nth-of-type(3n) {
    margin-right: 14px;
  }

  div.shop a.product:nth-of-type(1),
  div.shop a.product:nth-of-type(3n+1) {
    margin-left: 14px;
  }

  /* remove all side margins */

  div.shop a.product:nth-of-type(2n) {
    margin-right: 0;
  }

  div.shop a.product:nth-of-type(1),
  div.shop a.product:nth-of-type(2n+1) {
    margin-left: 0;
  }

}

@media screen and (max-width: 380px) {

  div.shop a.product {
    width: 100%;
    margin: 0;
  }

  /* remove all margins */

  div.shop a.product:nth-of-type(4n) {
    margin-right: 14px;
  }

  div.shop a.product:nth-of-type(1),
  div.shop a.product:nth-of-type(4n+1) {
    margin-left: 0;
  }

  div.shop a.product:nth-of-type(3n) {
    margin-right: 0;
  }

  div.shop a.product:nth-of-type(1),
  div.shop a.product:nth-of-type(3n+1) {
    margin-left: 0;
  }


  div.shop a.product:nth-of-type(2n) {
    margin-right: 0;
  }

  div.shop a.product:nth-of-type(1),
  div.shop a.product:nth-of-type(2n+1) {
    margin-left: 0;
  }

  div.shop a.product:nth-of-type(1) {
    margin-top: 14px;
  }

}


/* ============ */
/* PRODUCT PAGE */
/* ============ */


/* preview section */

div.preview {
  width: 38.2%;
  max-width: 614px;
}

div.preview img {
  width: 100%;
}

div.preview nav.product_nav img {
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1080px) {
  div.preview {
    width: 50%;
  }
}


/* content section */

article.product_content {
  margin-left: 30px;
  width: 44%;  
}

article.product_content h1 {
  padding-top: 0;
  padding-bottom: 30px;
  text-transform: none;
  font-size: 42px;
  font-weight: 700;
}

article.product_content > p {
  padding-bottom: 40px;
}

article.product_content h6 {
  font-size: 1.375rem;
  font-weight: 400;
  padding-bottom: 0.875rem;
}

article.product_content p span {
  font-size: 1.75rem;
  font-weight: 500;
  margin-right: 1.25rem;
}

div.price_shipping {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.price_shipping h2 {
  padding: 0;
  font-size: 2.625rem;
  font-weight: 700;
}

div.price_shipping a.shipping {
  margin-left: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: help;
}

div.price_shipping a.shipping img {
  max-width: 2.5rem;
  margin-right: 10px;
  -webkit-animation: shake-jump 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
          animation: shake-jump 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

div.price_shipping a.shipping p {
  font-size: 1rem;
  max-width: 8.75rem;
  line-height: 1.3;
}

article.product_content a.button {
  margin: 0;
  margin-top: 40px;
  font-size: 22px;
  padding: 10px 40px;
}


@media screen and (max-width: 980px) {

  div.price_shipping {
    display: block;
  }

  div.price_shipping a.shipping {
    margin: 0;
    margin-top: 20px;
  }

}

@media screen and (max-width: 860px) {

  section.sitecontent.flex {
    display: block;
  }

  div.preview {
    width: 100%;
    margin-bottom: 60px;
  }

  div.preview {
    max-width: inherit;
  }

  article.product_content {
    width: 100%;
    margin-left: 0;
  }

  article.product_content h6,
  article.product_content > p:nth-of-type(2),
  div.price_shipping {
    text-align: center;
  }

  article.product_content a.button,
  div.price_shipping a.shipping {
    margin: 0 auto;
  }

  article.product_content a.button {
    margin-top: 40px;    
  }

  div.price_shipping a.shipping {
    margin-top: 12px;
  }

}

/* popup */

article.popup {
  padding: 40px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 14%;
  z-index: 100;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.2);
  width: 80%;
  max-width: 560px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.popup_active {
  overflow: hidden;
}

body.popup_active:before {
  content: '';
  position: fixed;
  display: block;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0,0,0,0.6);
}


article.popup div.text {
  overflow-y: auto;
  max-height: 60vh;
}

article.popup a.close {
  position: absolute;
  right: -19px;
  top: -19px;
  background-color: #000;
  border-radius: 19px;
  padding: 6px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.2);
          box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.2);
}

article.popup a.close:hover {  
  -webkit-animation: shake-side 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;  
          animation: shake-side 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


article.popup a.close img {
  height: 26px;
  width: 26px;
}

article.popup h2 {
  padding: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 440px) {

  article.popup {
    padding: 30px;
  }

}

@media screen and (max-width: 370px) {

  article.popup {
    width: 86%;
    padding: 20px;
  }

  article.popup h2 {
    font-size: 28px;
  }


}

/* ==== */
/* WASH */
/* ==== */


body.wash h1 {
  margin-bottom: 30px;
}

body.wash h2 {
  padding-top: 0;
  text-transform: none;
}

body.wash section.product_section {
  margin-bottom: 50px;
  padding-top: 130px;
  margin-top: -130px;
}

body.wash section.product_section.left article.product_content {
  margin-left: 0;
  margin-right: 30px;
}

body.wash nav.subnav {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

body.wash nav.subnav a.button {
  margin: 0 12px 12px 0;
}


@media screen and (max-width: 1020px) {

  body.wash section.product_section {
    padding-top: 90px;
    margin-top: -90px;
  }

}

@media screen and (max-width: 860px) {

  section.product_section.flex {
    flex-wrap: wrap;
  }

  body.wash article.product_content {
    order: 2;
  }

}


/* ======= */
/* IMPRINT */
/* ======= */

article.imprint h2 {
  font-size: 24px;
}

article.imprint h3 {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

article.imprint h3 +p {
  padding-top: 10px;
}



/*============ footer ============*/

footer.sitefooter {
  text-align: center;
  padding: 40px 0;
  background-color: #eee;
  z-index: -2;
}

footer.sitefooter a.links {
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

footer.sitefooter img {
  margin-right: 8px;
  width: auto;
  height: 24px;
}


footer.sitefooter a.links:hover img {
  -webkit-animation: shake-side 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
          animation: shake-side 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

footer.sitefooter p.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.sitefooter p.location:hover img {
  -webkit-animation: shake-jump 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
          animation: shake-jump 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;  
}




/*
 * ----------------------------------------
 *  shake animations
 * ----------------------------------------
 */

@-webkit-keyframes shake-side {
  0%,25% {-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;}
  2.5% {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
  5%,10%,15% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  7.5%,12.5%,17.5% {-webkit-transform: rotate(3deg);transform: rotate(3deg);}
  20% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  22.5% {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
}

@keyframes shake-side {
  0%,25% {-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;}
  2.5% {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
  5%,10%,15% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  7.5%,12.5%,17.5% {-webkit-transform: rotate(3deg);transform: rotate(3deg);}
  20% {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  22.5% {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
}

@-webkit-keyframes shake-jump {
    0% {-webkit-transform: translateY(0);transform: translateY(0);}
    4% {-webkit-transform: translateY(-0.625rem);transform: translateY(-0.625rem);}
    8% {-webkit-transform: translateY(0);transform: translateY(0);}
    12% {-webkit-transform: translateY(-0.875rem);transform: translateY(-0.875rem);}
    16% {-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes shake-jump {
    0% {-webkit-transform: translateY(0);transform: translateY(0);}
    4% {-webkit-transform: translateY(-0.625rem);transform: translateY(-0.625rem);}
    8% {-webkit-transform: translateY(0);transform: translateY(0);}
    12% {-webkit-transform: translateY(-0.875rem);transform: translateY(-0.875rem);}
    16% {-webkit-transform: translateY(0);transform: translateY(0);}
}


@keyframes shake-jump {
    20% {-webkit-transform: translateY(0);transform: translateY(0);}
    24% {-webkit-transform: translateY(-0.625rem);transform: translateY(-0.625rem);}
    28% {-webkit-transform: translateY(0);transform: translateY(0);}
    32% {-webkit-transform: translateY(-0.875rem);transform: translateY(-0.875rem);}
    36% {-webkit-transform: translateY(0);transform: translateY(0);}
}