
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 46%;

    display: block;

    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background-color: #151515;

    z-index: 1;
    transition: background-color ease-out .2s;
}
.slick-prev:hover,
.slick-next:hover
{
    background-color: #444444;
}

@media screen and (max-width: 460px) {
    .slick-prev,
    .slick-next  {
        width: 40px;
        height: 40px;
        background-size: 10px;
    }

}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}
.slick-prev
{
    left: 15px;
    background-image: url(../images/icons/slider_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}

.slick-next
{
    right: 15px;
    background-image: url(../images/icons/slider_arrow.svg);
    transform: rotate(180deg) translateY(50%);
    background-repeat: no-repeat;
    background-position: center;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 12px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 13px;
    height: 13px;
    margin: 0 2px;
    padding: 2;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;slick-arrow slick-disabled

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 13px;
    height: 13px;

    content: '';
    text-align: center;

    opacity: 1;
    color: #fff;

    border: solid #fff 2px;
    border-radius: 7px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
    background-color: #fff;
}


/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-selecslick-arrow slick-disabled: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.product_nav {
    margin-top: 16px;
}

.product_nav .slick-slide {
    margin: 0 10px;
}

@media screen and (max-width: 580px) {

    .product_nav .slick-slide {
        margin: 0 16px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }

}


@media screen and (max-width: 460px) {
    
    .product_nav .slick-slide {
        margin: 6px;
    }

}


.product_nav .slick-slide img {
    opacity: .6;
}

.product_nav .slick-slide.slick-current img {
    opacity: 1;
}

.slick-arrow{
    transition: all .5s ease-out;

}
.slick-arrow.slick-disabled {
    height: 0;
    width: 0;
    opacity: 0;
}

