@use 'components/buttons';
@use 'components/form';
@use 'globals/typo';

@use 'globals/fonts';
@use 'globals/sitefooter';

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}