@use '../globals/colors' as c;
@use '../abstracts/breakpoints' as *;


img.teaser {
    width: 100%;
    height: auto;
}
.RunningText {
    max-width: 1100px;
    padding: 30px;
    @include mq(600px) {
        padding: 60px;
    }
    > img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.CenteredText {
    max-width: 780px;
    padding: 30px;
    margin: 0 auto;
    @include mq(600px) {
        padding: 60px;
    }
}

.BtnGroup {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    .button {
        margin: 0 10px 10px 0;
    }
}

.ImgText {
    >img {
        display: block;
        width: 100%;
        height: auto;
    }
    @include mq(880px) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        h3 {
            width: 100%;
        }
        > img,
        .AdditionalContentBox {
            width: calc(50% - 20px);
        }
        .AdditionalContentBox {
            margin: 0;
        }
    }
}

.AdditionalContentBox {
    margin: 40px 0;
    .ContentBox {
        padding: 20px 22px;
    }
    border: c.$border2px;
    li{
        list-style-type: none;
        padding-bottom: 10px;
        strong {
            padding-right: 42px;
            position: relative;
            &::before {
                content: '';
                display: block;
                height: 2px;
                width: 16px;
                background-color: c.$dark;
                position: absolute;
                right: 4px;
                top: 50%;
                transform: translateX(-50%);
            }
        }
        &:last-of-type {
            padding: 0;
        }
    }
    hr {
        margin: 0;
        border: none;
        border-top: c.$border2px;
    }
    .IconText {
        display: flex;
        align-items: center;
        img {
            animation: shake-jump 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        }
        span {
            display: inline-block;
            margin-left: 24px;
            max-width: 260px;
        }
    }
}