@use 'colors' as c;

$base-font : 'Roboto', sans-serif;
$link-font : 'Josefin Sans', sans-serif;

html {
    font-family: $base-font;
    color: c.$dark;
    line-height: 1.5;
}


h1,
h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.09;
}
h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    line-height: 1.15;
    & a {
        font-family: $base-font;
        font-size: 26px;
        color: c.$dark;
        text-transform: uppercase;
    }
}


p,  
p a,
li {
    font-family: $base-font;
    font-size: 20px;
    text-decoration: none;
}
.ProcuctContent {
    li {
        font-weight: 700;
        list-style-position: inside;
    }
}


a {
    font-family: $link-font;
    font-size: 20px;
    text-decoration: none;
    color: c.$dark;
}

.banner {
    font-size: 14px;
    letter-spacing: .31px;
}

.sitenav {
    >ul a {
        text-transform: uppercase;
        line-height: 1;
        font-weight: 600;
    }
    .LegalNav {
        a {
            font-family: $base-font;
            font-size: 12px;
        }
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}