@use 'colors' as c;

$base-font : 'Roboto', sans-serif;
$link-font : 'Josefin Sans', sans-serif;

html {
    font-family: $base-font;
    color: c.$dark;
    line-height: 1.5;
}

// headline
h1,
h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.09;
}

// subheadline
h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    line-height: 1.15;
    & a {
        font-family: $base-font;
        font-size: 26px;
        color: c.$dark;
        text-transform: uppercase;
    }
}

// running text
p,  
p a,
li,
label.radio,
select,
input[type="text"] {
    font-family: $base-font;
    font-size: 20px;
    text-decoration: none;
}
// link style
a,
button.button {
    font-family: $link-font;
    font-size: 22px;
    text-decoration: none;
    color: c.$dark;
    line-height: 1.1;
}

// banner style
.banner {
    color: c.$bright;
    font-size: 14px;
    letter-spacing: .31px;
}

.sitenav {
    >ul a {
        text-transform: uppercase;
        line-height: 1;
        font-weight: 600;
    }
}

// small text
.sitenav .LegalNav a,
.ProcuctContent,
.ProcuctContent li,
.price > span {
    font-family: $base-font;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}