@use 'colors' as c;
@use '../abstracts/breakpoints' as *;

.siteheader {
    position: relative;
    top: 0;
    width: 100%;
    .SmallHeader {
        width: 100%;
        box-sizing: border-box;
        padding: 16px;
        background: c.$bright;
        box-shadow: c.$shadow;
        position: sticky;
        top: 0;
        z-index: 2;
        @include mq(400px) {
            padding: 16px 26px;
        }
    }
    .button.circle {
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        right: 80px;
        z-index: 2;
        &:last-of-type {
            right: 20px;
        }
    }
    .banner {
        width: 100%;
        height: 38px;
        background-color: c.$dark;
        color: c.$bright;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 1;
        span {
            position: absolute;
            top: 10px;
            display: block;
            animation: marquee 26s linear infinite;
            @include mq(660px) {
                animation: none;
                width: 100%;
                text-align: center;
            }
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 170px;
            background-image: linear-gradient(90deg, rgba(34,34,34,0.00) 0%, #222222 21%, #222222 100%);
        }
    }
}

// siteheader scroll to sticky setup
body.sticky {
    .siteheader {
        position: fixed;
        z-index: 1;
        .SmallHeader {
            position: relative;
        }
        .banner {
            margin: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }
    .sitecontent {
        // calc the size here because the update 
        // of the vars makes the scroll not smooth
        margin-top: calc(var(--SmallHeaderHeight) + var(--BannerHeight));
    }
}
.sitecontent {
    margin-top: 0;
}

// mobile menu
.siteheader {
    .sitenav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        transform: translateY(-100vh);
        left: 0;
        top: var(--SiteHeaderHeight);
        width: 100%;
        height: calc(100vh - var(--SiteHeaderHeight));
        transition: transform .3s ease-out;
        background: c.$bright;
        box-shadow: c.$shadow;
        z-index: 1;
        padding: 40px 0 60px 40px;
        box-sizing: border-box;
        ul {
            max-width: calc(100vw - 60px);
        } 
        li {
            list-style-type: none;
        }
        > ul a {
            display: inline-block;
            padding: 10px 0;
            margin-bottom: 20px;
        }

        .MetaNav {
            hr {
                border: 1px solid c.$dark;
                margin: 10px 0;
            }
            .LegalNav {
                ul {
                    display: flex;
                }
                a {
                    display: inline-block;
                    margin-right: 20px;
                    padding: 10px 0;
                }
            }

        }
    }
}
body.menu {
    overflow: hidden;
    .hamburger {
        span {
            transform: translateY(50%) rotate(45deg);
            &:last-of-type {
                transform: translateY(-50%) rotate(-45deg);
                margin: 0;
            }
        }        
    }
    .siteheader {
        .sitenav {
            transform: translateY(0);
        }
    }
}
.hamburger {
    span {
        transition: transform .2s ease-out;
        
    }
    &:hover {
        span {
            transform: translateY(-20%);
            &:last-of-type {
                transform: translateY(20%);
            }
        }
    }
}

// animation for the banner
@keyframes marquee {
    0%{transform: translateX(-100%);}
    50%{transform: translateX(0);}
    100%{transform: translateX(100%);}
}