.productSlider.ProductSection {
    margin: 40px 0 30px; // bottom margin only 30px because 10px on element (box shadow)
    position: relative;
    .ProductArticle {
        width: 100%;
        margin: 0 0 10px;
    }
    .splide__arrows {
        position: absolute;
        top: 0;
        transform: translate(-25px,-50%);
        z-index: 1;    
    }
}
p + .productSlider.ProductSection {
    margin-top: 60px;
}